POSTGRES_DB=keylish
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@keylish.dev
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/keylish
